.idea
.bsp
target/
/docker-compose/jochre.conf
/temp
/data
/modules/yiddish/resources/*.zip
/modules/api/content
/modules/api/index
/modules/yiddish/content
/modules/yiddish/index
/content
/modules/core/content